# Sanity — all public, safe to commit values for. Find them at https://sanity.io/manage
NEXT_PUBLIC_SANITY_PROJECT_ID="exuxtzx5"
NEXT_PUBLIC_SANITY_DATASET="production"
NEXT_PUBLIC_SANITY_API_VERSION="2026-09-04"
