@import "tailwindcss";

@theme {
  --color-sigma-gold: #e4a746;
  --color-sigma-navy: #530047;
  --color-sigma-purple: #4f1c47;
  --color-sigma-black: #111827;
  --color-border: #d1d5db;
  --color-secondary: #5a6070;
  --color-secondary-white: #ffffff99;
}
